
h2 {
    margin: 0;
    font-size: 16px;
    text-align: center;
    margin-top: 2em;
  }
  
  ul {
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
  }
  li::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  li::-webkit-scrollbar-track {
    background: rgb(50, 54, 54);;        /* color of the tracking area */
  }
  
  li::-webkit-scrollbar-thumb {
    background-color: rgb(86, 135, 233);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(50, 54, 54); /* creates padding around scroll thumb */
  }

  li {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: rgb(86, 135, 233) rgb(50, 54, 54);;   /* scroll thumb and track */
    
  }
  
  .fc-prev {
    color: rgb(86, 135, 233);
  }

  li {
    margin: 1em 0;
    padding: 0;
    word-wrap: break-word;
  }
  
  
  b { /* used for event dates/times */
    margin-right: 3px;
  }

  .buttons {
    display: grid;
    align-content: center;
    
  }
  .btn {
    grid-row: 1;
  }
  ul :nth-child(4)
  {
    margin-bottom: 0em;
    margin-top: 0em;
   padding-left: 0em;
    text-align: center;
    min-height: 5em;
    max-height: 15em;
    overflow-x: hidden;
    overflow-y: scroll;
  }

.demo-app-sidebar {
  border-radius: 1em;
  background-image: initial;
  background: #F7F7F7 0% 0% no-repeat padding-box;
  background-color: rgb(50, 54, 54);
  box-shadow: rgba(6, 6, 6, 0.27) 7px 10px 6px;
  border: 7px solid #233863;
  border-color: rgb(86, 135, 233);
    line-height: 1.5;
    margin-left: 1em;
    grid-row: 2;
    grid-column: 1/2;
    
}

.demo-app-main {
    display: grid;
    grid-template-columns: 26em;
    grid-template-rows: 13.5em 40em;
  }

.cornerimg{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  grid-column: 1;
  grid-row: 1;
  margin-left: 1.5em;
  }

  .fc {
    
    max-width: 90em;
    grid-column: 2;
    grid-row: 1/2;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3em;
  }
.FamCal {
    
    width: 110vw;
    height: 90vh;
    grid-column: 2;
    grid-row: 1/2;
    margin-top: 2em;
}

